<div class="formulario">
    <form formGroup="form" (ngSubmit)="onSubmit()">
      <label>
        Email:
        <input type="text" formControlName="name">
      </label>
      <label>
        Nombre:
        <input type="email" formControlName="email">
      </label>
      <label>
        Contraseña:
        <input type="password" formControlName="password">
      </label>
      <button type="submit">Register</button>
      <p class="mensaje">{{ message }}</p>
    </form>
  </div>

 
  
  
  
  